<!DOCTYPE html>
<html lang="es">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Калькулятор матриц</title>
	<link rel="stylesheet" href="{% static 'css\style2.css'%}">
	<script src="{% static 'js\MatrixCalculator.js' %}"></script>
</head>

<body>
	<header>
	</header>
	<div id="upper">
		<div id="matrix1" class="parent">
			<h2 class="title">Матрица A</h2>
			<input class="m1r1" type="text" value="0"/>
			<input class="m1r1" type="text" value="0"/>
			<input class="m1r1" type="text" value="0"/>
			<input class="m1r2" type="text" value="0"/>
			<input class="m1r2" type="text" value="0"/>
			<input class="m1r2" type="text" value="0"/>
			<input class="m1r3" type="text" value="0"/>
			<input class="m1r3" type="text" value="0"/>
			<input class="m1r3" type="text" value="0"/>
		</div>
		<div id="matrix2" class="parent">
			<h2 class="title">Матрица B</h2>
			<input class="m2r1" type="text" value="0"/>
			<input class="m2r1" type="text" value="0"/>
			<input class="m2r1" type="text" value="0"/>
			<input class="m2r2" type="text" value="0"/>
			<input class="m2r2" type="text" value="0"/>
			<input class="m2r2" type="text" value="0"/>
			<input class="m2r3" type="text" value="0"/>
			<input class="m2r3" type="text" value="0"/>
			<input class="m2r3" type="text" value="0"/>
		</div>
		<div id="operations">
			<input class="operation" type="button" value="x" onclick="mc.multiplyMatrix()"/>
			<input class="operation" type="button" value="+" onclick="mc.addMatrix()"/>
			<input class="operation" type="button" value="-" onclick="mc.subtractMatrix()"/>
		</div>
		<div class="funct">
			<input class="function" type="button" value="Определитель" onclick="mc.calculateDeterminant()"/>
			<input class="function" type="button" value="Транспереход" onclick="mc.transposeMatrix()"/>
			<input class="function" type="button" value="Обратная матрица" onclick="mc.invertMatrix()"/>
			<input class="function" type="button" value="Ранг матрицы" onclick="mc.calculateRank()"/>
		</div>
	</div>

	<br>
	<div id="lower">
			<textarea wrap="32" rows="10" cols="20" id="console" disabled></textarea>
	</div>
	<div class="other_page_butt"><a href="{% url 'index' %}">На главную</a></div>
</body>
</html>
